body{
    background-color: slategrey;
}
.A{
    border: red solid;
    background-color: blue;
    color: darkgreen;
}
.B{
    border: orange solid;
    color: darkgreen;
}
.C{
    border: yellow solid;
    background-color: blue;
    color: darkgreen;
}
.D{
    border: green solid;
}
.E{
    border: blue solid;
    background-color: blue;
    color: darkgreen;
}
.F{
    border: indigo solid;
}
.col{
    margin: 5px;
}