@media screen and (min-width:365px){
    body{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        /*margin: 0 auto;*/

    }
    .alert-info{
        background-color: lightblue;
        border: 2px grey;
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: center;
        margin-bottom: 10px;
    }
    .alert-info a {
        color: black;
        text-decoration: none;
    }
    h1 {
        margin: auto;
        font-size: xx-large;
    }
    .nav-links {
        list-style: none;
        display: block;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .nav-links li {
        height: 20px;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: 1px black;
        justify-content: space-between;
        background-color: lightgrey;
        align-items: center;
        text-align: center;
    }
    .header-img {
        width: 100%;
        align-items: center;
        /*height: 50px;*/
    }
    .header-img img {
        width: 100%;

    }
    .sub-section p {
        font-style: italic;
    }
    li {
        align-items: center;
        margin: 0 auto;
        display: block;
    }
    a {
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width:992px){

}
