.fancyHeader {
    color: black;
    text-decoration: underline;
    text-align: center;
    background-color: royalblue;
    border-radius: 100px;
    width: 500px;
    height: 50px;
    position: relative;
    align-content: center;
    margin: auto;
    font-family: 'Playfair Display', serif;
}
h2, h3, h4, h5, h6 {
    color: black;
    text-decoration-color: black;
    text-decoration: underline;
    text-align: center;
    background-color: royalblue;
    border-radius: 100px;
    width: 200px;
    height: 25px;
    position: relative;
    align-content: center;
    font-family: 'Playfair Display', serif;
}
body {
    background-color: dimgrey;
    background-image: url("../img/Florida-Gators-Logo-67097042772_f9995d19-2b05-40b0-99aa-73cd467aab2a.jpg"), none;
    background-repeat: space;
    background-size: 50px;
    font-family: 'Playfair Display', serif;

}
li {
    background-color: orange;
    font-family: "Times New Roman", serif;
    list-style: none;
    width: 250px;
    color: black;
    border-radius: 75px;
    text-align: center;
}

table {
    background-color: orange;
    font-family: "Times New Roman", serif;
    list-style: none;
    width: 500px;
    height: 100px;
    color: black;
    border-radius: 100px;
    text-align: center;
    border-color: black;
    border-style: solid;
}
th, td {
    border-radius: 100px;
    object-fit: contain;
}
.lonely {
    background: darkgreen;
    text-align: center;
    position: center;
    width: 500px;
    border-radius: 50px;
    margin: auto;
}